{% block content %} {% load static %}
<div class="container">
  <div class="left-sidebar">
    <div class="imp-links">
      <a href="#"
        ><img
          src="{% static 'plataforma/assets/news.png' %}"
          alt="Tela para ultimas notícias"
        />Últimas notícias</a
      >
      <a href="#"
        ><img
          src="{% static 'plataforma/assets/friends.png' %}"
          alt="Dois bonecos juntos de cor azul"
        />Amigos</a
      >
      <a href="#"
        ><img
          src="{% static 'plataforma/assets/group.png' %}"
          alt="três bonecos juntos de cor azul"
        />Grupos</a
      >
      <a href="#"
        ><img
          src="{% static 'plataforma/assets/marketplace.png' %}"
          alt="Um carrinho de compras azul"
        />Mercado</a
      >
      <a href="#"
        ><img
          src="{% static 'plataforma/assets/watch.png' %}"
          alt="Uma televisão com o simbolo do youtube no meio"
        />Assistir</a
      >
      <a href="#">Ver mais</a>
    </div>
    <div class="shortcut-links">
      <p>Seu atalho</p>
      <a href="#"
        ><img
          src="{% static 'plataforma/assets/shortcut-1.png' %}"
          alt="Notebook da apple"
        />Desenvolvedores da Web</a
      >
      <a href="#"
        ><img
          src="{% static 'plataforma/assets/shortcut-2.png' %}"
          alt="Uma tela de computador"
        />Desenvolvedores de Software</a
      >
      <a href="#"
        ><img
          src="{% static 'plataforma/assets/shortcut-3.png' %}"
          alt="Uma tela de computador"
        />Desenvolvedores de Mobile</a
      >
      <a href="#"
        ><img
          src="{% static 'plataforma/assets/shortcut-4.png' %}"
          alt="Uma tela de computador"
        />Desenvolvedores de Games</a
      >
    </div>
  </div>
  <div class="main-content">
    
    <div class="main-content">
      <div class="story-gallery">
          <div class="story story1">
              <img src="{% static 'plataforma/assets/upload.png' %}" alt="Foto de perfil" />
              <p>Postar Story</p>
          </div>
          {% for story in story %}
          <div class="story" style="background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url('{{ story.image.url }}');">
              {% if story.image %}
                  <img src="{{ story.image.url }}" alt="Foto de perfil" />
              {% else %}
                  <img src="{% static 'plataforma/assets/default.png' %}" alt="Foto de perfil" />
              {% endif %}
              <p>{{ story.name }}</p>
          </div>
          {% endfor %}
      </div>
  </div>
  
  
    <div class="write-post-container">
      <div class="user-profile">
        <img src="{% static 'plataforma/assets/profile-pic.png' %}" alt="Foto de perfil do usuario" />
        <div>
          <p>Jhon Nicholson</p>
          <small>Público <i class="fas fa-caret-down"></i></small>
        </div>
      </div>

      <div class="post-input-container">
        <textarea
          name="post"
          id="post"
          rows="3"
          placeholder="O que você está pensando, Jhon?"
        ></textarea>
        <div class="add-post-links">
          <a href="#">
            <img
              src="{% static 'plataforma/assets/live-video.png' %}"
              alt="ícone de televisão simbolo do youtube no meio"
            />
            Vídeo ao vivo
          </a>
          <a href="#">
            <img src="{% static 'plataforma/assets/photo.png' %}" alt="ícone de uma câmera" />
            Foto/Vídeo
          </a>
          <a href="#"
            ><img
              src="{% static 'plataforma/assets/feeling.png' %}"
              alt="ícone de uma tag"
            />Sentimento/atividade</a
          >
        </div>
      </div>
    </div>

    <div class="main-content">
      {% for post in post %}
      <div class="post-container">
          <div class="post-row">
              <div class="user-profile">
                  {% if post.icon_user %}
                      <img src="{{ post.icon_user.url }}" alt="Foto de perfil do usuario" />
                  {% else %}
                      <img src="{% static 'plataforma/assets/default-profile-pic.png' %}" alt="Foto de perfil padrão" />
                  {% endif %}
                  <div>
                      <p>{{ post.name }}</p>
                      <span>{{ post.data|date:"F d, Y" }}, {{ post.hour|time:"H:i a" }}</span>
                  </div>
              </div>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
  
          <p class="post-text">
              {{ post.content }}
          </p>
          {% if post.image_post %}
          <img class="post-img" src="{{ post.image_post.url }}" alt="Imagem do post" />
          {% endif %}
  
          <div class="post-row">
              <div class="activity-icons">
                  <div>
                      <img src="{% static 'plataforma/assets/like-blue.png' %}" alt="Joinha azul" /> 120
                  </div>
                  <div>
                      <img src="{% static 'plataforma/assets/comments.png' %}" alt="2 balões branco" /> 45
                  </div>
                  <div>
                      <img src="{% static 'plataforma/assets/share.png' %}" alt="Seta pro lado" /> 20
                  </div>
              </div>
              <div class="post-profile-icon">
                <img src="{{ post.icon_user.url }}" alt="Foto de perfil do usuario" />
                  <i class="fas fa-caret-down"></i>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  
  

    <button class="load-more-btn" type="button">Carregue mais</button>
  </div>
  <div class="right-sidebar">
    <div class="sidebar-title">
      <h3>Eventos</h3>
      <a href="#">Ver tudo</a>
    </div>

    <div class="event">
      <div class="left-event">
        <h3>18</h3>
        <span>Março</span>
      </div>
      <div class="right-event">
        <h4>Mídia social</h4>
        <p><i class="fas fa-map-marker-alt"></i> Willson Tech PARK</p>
        <a href="#">Mais informações</a>
      </div>
    </div>

    <div class="event">
      <div class="left-event">
        <h3>22</h3>
        <span>Junho</span>
      </div>
      <div class="right-event">
        <h4>Marketing</h4>
        <p><i class="fas fa-map-marker-alt"></i> Willson Tech PARK</p>
        <a href="#">Mais informações</a>
      </div>
    </div>

    <div class="sidebar-title">
      <h3>Anúncio</h3>
      <a href="#">Fechar</a>
    </div>
    <img
      class="slidebar-ads"
      src="{% static 'plataforma/assets/advertisement.png' %}"
      alt="Pessoas conversando em uma sala de reunião"
    />

    <div class="sidebar-title">
      <h3>Conversas</h3>
      <a href="#">Ocultar bate-papo</a>
  </div>
  
  {% for chat in chats %}
  <div class="online-list">
      <div class="online">
          {% if chat.icon_user %}
          <img src="{{ chat.icon_user.url }}" alt="Foto de perfil" />
          {% else %}
          <img src="{% static 'plataforma/assets/default-profile.png' %}" alt="Foto de perfil padrão" />
          {% endif %}
      </div>
      <p>{{ chat.name }}</p>
  </div>
  {% endfor %}
  
  </div>
</div>
{% endblock %}