{% include "components/header_simples.html" %}
{% load static %}
<link 
  rel="stylesheet" 
  href="{% static 'plataforma/css/header_simples.css' %}" 
/>
<link
  rel="stylesheet"
  href="{% static 'plataforma/css/event/event_create.css' %}"
/>
<title>Criar Chat</title>
<div class="event-create">
  <h1 class="heading">
    Criar
    <span>Evento</span>
  </h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Criar</button>
  </form>
</div>