{% include "components/header_simples.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'plataforma/css/header_simples.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'plataforma/css/product/post_create.css' %}"
/>
<title>Criar Postagens</title>
<div class="product-create">
  <h1 class="heading">
    Criar
    <span>Postagens</span>
  </h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Criar</button>
  </form>
</div>